
@{
    ViewData["Title"] = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Reports</h1>

<div class="col-md">
    <table class="table text-center col-md">
        <tr class="card-header">
            <th>Average Bleed Severity</th>
        </tr>
        @if (Model != null)
        {
            <tr>
                <td id='sev_avg'>@Model.Average</td>
            </tr>
        }

    </table>
    <table class="table text-center col-md">
        <tr class="card-header">
            <th>Bleeds This Month</th>
        </tr>
        @if (Model != null)
        {
            <tr>
                <td id="monthly_freq">@Model.Frequency</td>
            </tr>
        }

    </table>
    <table class="table text-center col-md">
        <tr class="card-header">
            <th>Total Time Bleeding (in minutes)</th>
        </tr>
        @if (Model != null)
        {
            <tr>
                <td id="monthly_freq">@Model.Duration</td>
            </tr>
        }

    </table>
</div>

<div class="col-xl">
    <h2>Custom Reports</h2>

    <form asp-controller="Reports" asp-action="Reports" method="post">

        <div class="form-group">
            <label for="userMonth">See the Severity and Frequency for a Month</label>
            <select id="userMonth" name="SeverityMonth">
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            <p>Average severity for selected month: @Model.CustomAverage</p>
            <p>Average frequency for selected month: @Model.CustomFrequency</p>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

 
</div>

<script>
    let average = document.querySelector('#sev_avg').textContent;
    let tableRow = document.querySelector("td#sev_avg");

    if (average <= 4) {
       tableRow.style["color"] = "green";
    } else if (average > 4 && average <= 7) {
        tableRow.style["color"] = "orange";
    } else {
       tableRow.style["color"] = "red";
    }
</script>
